<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>大盘预测|{{info.up_down}}%</title>

    <style type="text/css">
        .main {
            width: 100%;

        }


    </style>
</head>
<body>
<h1>{{info.Today}}</h1>
<h1>Open:{{info.Open}}</h1>
<h1>High:{{info.High}}</h1>
<h1>Low:{{info.Low}}</h1>
<h1>Close:{{info.Close}}</h1>
<h1>Volume:{{info.Volume}}</h1>
<h1>下一个交易日预测</h1>
<h2 style="color:{{info.color}}">{{info.up_down}}%</h2>
<div class="main">
    <img src="/static/future.svg" alt="future"><br>
    <a href="/static/loss_history.svg">loss</a><br>
    <a href="/static/pre.vs.tru.svg">pre vs tru</a><br>
    <a href="/static/stock_price_history.svg">price</a><br>
    <a href="/static/stock_volume_history.svg">volume</a><br>
</div>
</body>
</html>